* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"MS Mincho","ＭＳ 明朝";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
 
}

.top-wrapper img {
  width: 100%;
}



.shop-image-wrapper {

}

.shop-image-wrapper ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}




header {
  height: 80px;
  width: 100%;
  background-color: rgba(179, 180, 156, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
  color:  rgba(48, 46, 37, 0.9);
}


.header-left {
  float: left;
  color:  rgba(48, 46, 37, 0.9);
  font-size: 40px;
  padding: 0 25px;
  line-height: 0px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 70px;
  padding: 0 25px;
  font-size: 25px;
  color:   rgba(48, 46, 37, 0.9);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

img {
  width: 50%;
  height: auto;
}

.heading  {
  padding-top: 30x;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.heading h1 {
  font-size: 65px;
}

.heading p {
  width: 50%;
  margin: 0 auto;
  border:solid 3px #5f5d60;
  font-size: 35px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.menu  {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.menu h1{
  font-size: 55px;
  margin-bottom: 60px;
}

.menu-item {
  display: flex;
}

.menu-item img {
  margin: 30px 20px 30px 200px;
  width: 30%;
  height: 30%;
  float: left;
}

.menu h3{
  padding: 0px 150px;
  font-size: 35px;
}

.menu p{
  font-size: 25px;
}

.menu-right{
  margin: 30px 200px 30px 20px;
}

.store-image  {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}
.store-image ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.store-info {
  color: #5f5d60;
  text-align:center;
  display: flex;
  justify-content: center;
  gap: 500px;
}

.store-info-left {
  margin: 0px 0px 0px 170px ;
}

.store-info-right {
  margin: 0px 170px 50px 0px ;
}



.store-image h1{
  font-size: 50px;
}

.store-info h3 {
  font-size: 40px;
}

.store-info p {
  font-size: 22px;
}

.contact {
  text-align:center;
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 25px;
  color: #5f5d60;

}

.contact h1 {
  font-size: 55px;
}

.contact-item {
  display: flex;

  gap: 100px;
  font-size: 25px;
  color: #5f5d60;
}

.contact-item p {
  margin: 20px 300px;
  float: left;
}

input {
  margin: 20px 150px;
  text-align: right;
}

textarea {
  margin: 20px 20px;
  text-align: right;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 150px;
  width: 100%;
  background-color: rgba(179, 180, 156, 0.9);
  color:  rgba(48, 46, 37, 0.9);
  }

.footer {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.footer h3{
  border-bottom: 2px solid rgba(48, 46, 37, 0.9);
  font-size: 25px;
}

