* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"MS Mincho","ＭＳ 明朝";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
 
}

.top-wrapper img {
  width: 100%;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.shop-image-wrapper {

}

.shop-image-wrapper ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}




header {
  height: 75px;
  width: 100%;
  background-color: rgba(179, 180, 156, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
  color:  rgba(48, 46, 37, 0.9);
}


.header-left {
  float: left;
  color:  rgba(48, 46, 37, 0.9);
  font-size: 20px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color:   rgba(48, 46, 37, 0.9);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

img {
  width: 50%;
  height: auto;
}

.heading  {
  padding-top: 30x;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.heading h1 {
  font-size: 65px;
}

.heading p {
  width: 50%;
  margin: 0 auto;
  border:solid 3px #5f5d60;
  font-size: 40px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.menu  {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
}

.menu-item {
  float: right;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  float: left;
}



  footer {
    height: 120px;
    width: 100%;
    background-color: rgba(179, 180, 156, 0.9);
    text-align: center;
    color:  rgba(48, 46, 37, 0.9);
  }

.footer-item {
  display: flex;
  align-items: center;

}